/* font css */
body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #181818;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

.anchor-st {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

}

/* header related style */

.header {
    background-color: #fff8f3;
}

/* banner realated css */
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .portfolio-pic {
    width: 500px;

}